/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url("home-background.jpg") center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	margin: auto;
	background-color: rgb(250,250,250);
	max-width: 60em;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {
	font-family: sans-serif;
	background-color: rgb(251,0,18);
}

main { 
	padding: 1em 2em 3em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 1em 0.5em;
	padding-right: 2.5em;
	background-color: rgb(193,193,193);
	align-items: center;
	}

h1 {
	width: 12em;
	}

h2, h3, h4 {
	
	font-weight: bold;

}

h2 {
	font-size: 2em;
	margin: 1em 0em 0.5em;
	}
	

h3 {
	font-size: 1.5em;
	margin: 1em 0em 0.5em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 2em;
}

h5 {
	line-height: 1.5em;
}

main.menu ul {
		margin: 2em 0 4em;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5em;
}

main.menu ul li {
		margin: 0 0 1.5em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 0 0 1em;
	}
	
p.description {
	grid-column: 1/-1;
	margin: 0.25em 0 1em;

	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(251,0,18);
	text-align: right;
	margin: 0;
	}
	


nav ul li {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(255,255,0);
	background-color: rgb(0,0,255);
	padding: 0.3em 0.3em;
	font-family: sans-serif;
	}
	

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 1em 0.5em 3em;
	color: rgb(250,250,250); 	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 0.5em 0.5em;
  background: rgb(255,255,0);
}

address {
	color: rgb(240,113,12);
	}

footer p {
	margin: 0.5em;
}

@media screen and (min-width: 60em) {

nav ul		  {
	display: grid;
    grid-auto-flow: column;
	gap: 1.5em;
	padding: 0 10em 0 0;
}

nav ul li a{
	font-size: 2em;
}

main.menu ul {
	grid-template-columns: 1fr 1fr;
	gap: 3em;
}

}

nav ul li.selected a {
	background-color: rgb(251,114,8);
	color: rgb(250,250,250);
} 	

article {
	background-color: rgb(34,255,255);
	
}

